<nav
  class="d-flex justify-content-between navbar navbar-light bg-primary text-light"
>
  <ul class="d-flex justify-content-around  gap-5 my-2">
    <img src="https://www.mangalmay.org/campusdrivesmartprix/images/logo.png" width="80" alt="logo">
    <li><a class="text-light" href="#">Home</a></li>
    <li><a class="text-light" [routerLink]="['/product-list']">Product</a></li>
    <li><a class="text-light" href="#">Services</a></li>
    <li><a class="text-light" href="#">Contact</a></li>
  </ul>
  <ul class="d-flex justify-content-between my-2 gap-2">
    <input
      class="form-control mr-sm-2"
      type="search"
      placeholder="Search"
      aria-label="Search"
      
    />
    <button class="btn btn-outline-success my-2 my-sm-0 bg-secondary text-light mx-3" type="submit">
      Search
    </button>
  </ul>
</nav>

<router-outlet></router-outlet>
