<div class="d-flex justify-content-between align-items-center gap-5 mx-4 my-5">
  <div class="image-box">
    <img [src]="product.image" alt="product.name" width="400" />
  </div>
  <div class="detail-box">
    <h3>{{ product.name }}</h3>
    <p class="fw-bold">Description: {{ product.description }}</p>
    <p>Manufacturer: {{ product.manufacturer }}</p>
    <p>Quantity: {{ product.quantity }}</p>

    <!-- Add to Cart Feature -->
    <h3>$ {{product.price}}</h3>
    <div class="d-flex gap-2 align-items-center text-align-center">
      <button class="btn btn-primary">Add To Cart</button>
      <button class="cart-btn" (click)="counter('sub')">-</button>
      <br /><P>{{ count }}</P>
      <button class="cart-btn mx-2" (click)="counter('add')">+</button>
    </div>
  </div>
</div>

<footer>
  <p class="mx-5">&copy; 2024 My E-commerce Store</p>
</footer>
